[Unit]
Description=Apply e-os desktop appearance defaults
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/scripts/e-os-appearance

[Install]
WantedBy=niri.service
