[Unit]
Description=Emacs text editor daemon
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/
ConditionPathExists=%h/.config/doom/init.el
ConditionFileIsExecutable=/usr/bin/emacs

[Service]
Type=notify
Environment=COLORTERM=truecolor
Environment=DOOMDIR=%h/.config/doom
ExecStart=/usr/bin/emacs --fg-daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=default.target
