[Unit]
Description=PolicyKit authentication agent for Niri
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/libexec/lxqt-policykit-agent
Restart=on-failure

[Install]
WantedBy=niri.service
