[Unit]
Description=MPD MPRIS bridge
PartOf=graphical-session.target
After=graphical-session.target mpd.service
Requires=mpd.service
Requisite=graphical-session.target
ConditionPathIsDirectory=/mnt/Media/Music

[Service]
ExecStart=/usr/bin/mpd-mpris
Restart=on-failure

[Install]
WantedBy=niri.service
