[Unit]
Description=MPD Discord rich presence
PartOf=graphical-session.target
After=graphical-session.target mpd.service
Requires=mpd.service
Requisite=graphical-session.target
ConditionPathExists=%h/.config/discord-rpc/config.toml

[Service]
ExecStart=/usr/bin/mpd-discord-rpc
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=niri.service
