[Unit]
Description=Steam
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.config/scripts/keepalive-process exact steam 15 /usr/bin/steam -silent
Restart=on-failure
RestartSec=15
KillMode=process

[Install]
WantedBy=niri.service
