[Unit]
Description=Idle manager for Niri
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 300 'gtklock -d' timeout 600 'niri msg action power-off-monitors' before-sleep 'gtklock -d'
Restart=on-failure

[Install]
WantedBy=niri.service
