[Unit]
Description=Notification daemon for Niri
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/env swaync
Restart=on-failure

[Install]
WantedBy=niri.service
