[Unit]
Description=On-screen display server for Niri
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/env swayosd-server
Restart=on-failure

[Install]
WantedBy=niri.service
