[Unit]
Description=Xfce PolicyKit authentication agent for Niri
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/libexec/xfce-polkit
Restart=on-failure

[Install]
WantedBy=niri.service
