[hub]
  protocol = https
[core]
  excludesfile = /Users/evan/.gitignore
  filemode = false
  trustctime = false
  autocrlf = false
  safecrlf = false
  pager = delta
[apply]
  whitespace = fix
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
[merge]
  conflictstyle = diff3
[diff]
  tool = kitty
  guitool = kitty.gui
[mergetool]
  keepBackup = false
[help]
  autocorrect = 1
[push]
  default = tracking
[user]
  name = Evan Riley
  email = evan@evanriley.net
	signingkey = 6654D512E44E3D20
[commit]
	gpgsign = true
[difftool]
  prompt = false
  trustExitCode = true
[difftool "nvimdiff"]
  cmd = nvim -d $LOCAL $REMOTE
[difftool "kitty"]
  cmd = kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
  cmd = kitten diff $LOCAL $REMOTE
[mergetool "nvimmerge"]
  cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c 'winc J | winc ='
  trustExitCode = true
[fsck]
  zeroPaddedFilemode = ignore
[init]
  defaultBranch = main
[pull]
  rebase = true
[fetch]
  prune = true
[branch]
  autosetupRebase = always
  sort = -committerdate
[github]
  user = evanriley
[submodule]
  recurse = true
[rebase]
  autoStash = true
[rerere]
	enabled = true
[column]
	ui = auto
[gpg]
	program = gpg2
