atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-store
atom.symlink/recovery

git/gitconfig.local.symlink

weechat/weechat.symlink/logs
weechat/weechat.symlink/weechat.log
weechat/weechat.symlink/weeget
weechat/weechat.symlink/xfer
weechat/weechat.symlink/irc.conf
weechat/weechat.symlink/jabber.conf
Brewfile.lock.json
tags.lock
