# Runtime/state files
.config/mpd/database
.config/mpd/log
.config/mpd/pid
.config/mpd/state
.config/mpd/playlists/
.config/mpv/scripts/sponsorblock_shared/sponsorblock.txt

# Editor/runtime junk
__pycache__/
*.swp
*.swo
*~
.DS_Store
