* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans", "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background-color: rgba(10, 10, 10, 0.95);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#clock {
    padding-left: 20px;
    padding-right: 20px;
    color: #eeeeee;
}

#tray {
    padding-right: 25px;
    padding-left: 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
