@import "colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: Berkeley Mono;
  font-size: 12px;
  font-weight: bold;
  transition: 0s;
}

window#waybar {
  background: linear-gradient(180deg, alpha(@surface_container_lowest, 0.8), alpha(@surface_container_lowest, 1.0));
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

tooltip {
  background: black;
  font-family: proportional_font;
  border-radius: 10px;
}

tooltip label {
  background: black;
  color: @on_background;
  font-family: proportional_font;
}

#custom-updates,
#network,
#disk,
#memory {
  color: @primary;
  margin-right: 9px;
  transition: 0.3s;
  padding-top: 2px;
}

#systemd-failed-units {
  color: @error;
  margin-right: 9px;
  transition: 0.3s;
  padding-top: 2px;
}

#memory:hover,
#network:hover {
  background: transparent;
  color: @primary;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0 0 0px 1px @primary;
}

#systemd-failed-units:hover {
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0 0 0px 1px @primary;
}

#network.disabled,
#network.disconnected {
  color: @outline;
  margin-right: 9px;
  transition: 0.3s;
  padding-top: 2px;
}

#network.disabled:hover,
#network.disconnected:hover {
  color: @on_background;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0 0 0px 1px @primary;
}

#pulseaudionslider {
  background: transparent;
  transition: 0.2s;
  margin-left: 9px;
}

#pulseaudio {
  color: @primary;
  margin-top: 2px;
}

#cpu {
  color: @primary;
  background: transparent;
  margin-right: 9px;
  transition: 0.3s;
  border: 0px solid transparent;
  padding-top: 2px;
}

#cpuntemp:hover {
  background: transparent;
  color: @primary;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: inset 0 0 0px 1px @primary;
}

#cpu {
  color: @primary;
  margin-right: 9px;
}

#temperature.cpu {
  color: @primary;
}

#temperature.cpu.critical {
  border: 1px solid @error;
  color: @error;
  transition: 0.2s;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
}

#custom-dnd {
  background: @tertiary_fixed;
  color: black;
  margin-right: 0px;
  padding-left: 7px;
  padding-top: 2px;
  padding-right: 7px;
  border-radius: 5px;
}

#custom-dnd:hover {
  color: @tertiary_fixed_dim;
}

#custom-sync,
#tray {
  background: transparent;
  color: @primary;
  transition: 0.2s;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

#custom-sync:hover,
#tray:hover {
  background: transparent;
  box-shadow: inset 0 0 0 1px @primary;
}

#tray menu {
  color: @primary;
  background: black;
  transition: 0.2s;
  border-radius: 10px;
}

#window {
  background: transparent;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  transition: 0.2s;
}

window#waybar.empty #window {
  background: transparent;
}
