[Unit]
Description=FreshRSS feed reader
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=freshrss
Image=lscr.io/linuxserver/freshrss:latest
Pull=newer
Network=media-stack.network
PodmanArgs=--cpu-shares=128
PublishPort=127.0.0.1:8082:80
PublishPort=100.75.174.37:8082:80
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=UMASK=002
Environment=CRON_MIN=1,31
Volume=/var/home/evan/.local/share/media-stack/freshrss:/config:Z

[Service]
Restart=on-failure
RestartSec=30
Nice=10
CPUWeight=20
IOWeight=20
IOSchedulingClass=idle

[Install]
WantedBy=default.target
