[Unit]
Description=Homepage service dashboard
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=homepage
Image=ghcr.io/gethomepage/homepage:latest
Pull=newer
Network=media-stack.network
PublishPort=127.0.0.1:3000:3000
Environment=HOMEPAGE_ALLOWED_HOSTS=127.0.0.1:3000,localhost:3000,cinderace:3000
Environment=LOG_TARGETS=stdout
Volume=/var/home/evan/.config/homepage:/app/config:Z

[Service]
Restart=on-failure
RestartSec=30
Nice=10
CPUWeight=20
IOWeight=20
IOSchedulingClass=idle

[Install]
WantedBy=default.target

