[Unit]
Description=Jellyfin media server
Wants=network-online.target
After=network-online.target
ConditionPathIsDirectory=/mnt/Media/Movies
ConditionPathIsDirectory=/mnt/Media/TV

[Container]
ContainerName=jellyfin
Image=lscr.io/linuxserver/jellyfin:latest
Pull=newer
Network=media-stack.network
PodmanArgs=--cpu-shares=256
PublishPort=8096:8096/tcp
PublishPort=7359:7359/udp
AddDevice=/dev/dri/renderD128:/dev/dri/renderD128:rwm
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=UMASK=002
Volume=/var/home/evan/.local/share/media-stack/jellyfin/config:/config:Z
Volume=/var/home/evan/.local/share/media-stack/jellyfin/transcode:/transcode:Z
Volume=/mnt/Media/Movies:/data/movies:ro,z
Volume=/mnt/Media/TV:/data/tvshows:ro,z

[Service]
Restart=on-failure
RestartSec=30
Nice=10
CPUWeight=20
IOWeight=20
IOSchedulingClass=idle

[Install]
WantedBy=default.target
