[Unit]
Description=Prowlarr indexer manager
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=prowlarr
Image=lscr.io/linuxserver/prowlarr:latest
Pull=newer
Network=media-stack.network
PublishPort=127.0.0.1:9696:9696
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=UMASK=002
Volume=/var/home/evan/.local/share/media-stack/prowlarr:/config:Z

[Service]
Restart=on-failure
RestartSec=30
Nice=10
CPUWeight=25
IOWeight=25
IOSchedulingClass=idle

[Install]
WantedBy=default.target

