[Unit]
Description=qBittorrent torrent downloader
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:latest
Pull=newer
Network=media-stack.network
UserNS=keep-id
PodmanArgs=--cpu-shares=128
PublishPort=127.0.0.1:8081:8081
PublishPort=6881:6881
PublishPort=6881:6881/udp
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=UMASK=002
Environment=WEBUI_PORT=8081
Volume=/var/home/evan/.local/share/media-stack/qbittorrent:/config:Z
Volume=/mnt/Media/Downloads:/downloads:z

[Service]
Restart=on-failure
RestartSec=30
Nice=10
CPUWeight=20
IOWeight=20
IOSchedulingClass=idle

[Install]
WantedBy=default.target
