[Unit]
Description=Radarr movie manager
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=radarr
Image=lscr.io/linuxserver/radarr:latest
Pull=newer
Network=media-stack.network
UserNS=keep-id
PodmanArgs=--cpu-shares=256
PublishPort=127.0.0.1:7878:7878
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=UMASK=002
Volume=/var/home/evan/.local/share/media-stack/radarr:/config:Z
Volume=/mnt/Media/Movies:/movies:z
Volume=/mnt/Media/Downloads:/downloads:z

[Service]
Restart=on-failure
RestartSec=30
Nice=10
CPUWeight=25
IOWeight=25
IOSchedulingClass=idle

[Install]
WantedBy=default.target
