[Unit]
Description=SABnzbd Usenet downloader
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=sabnzbd
Image=lscr.io/linuxserver/sabnzbd:latest
Pull=newer
Network=media-stack.network
PublishPort=127.0.0.1:8080:8080
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=UMASK=002
Volume=/var/home/evan/.local/share/media-stack/sabnzbd:/config:Z
Volume=/mnt/Media/Downloads:/downloads:z

[Service]
Restart=on-failure
RestartSec=30
Nice=10
CPUWeight=20
IOWeight=20
IOSchedulingClass=idle

[Install]
WantedBy=default.target

