[Unit]
Description=slskd Soulseek client
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=slskd
Image=docker.io/slskd/slskd:latest
Pull=newer
Network=media-stack.network
PublishPort=127.0.0.1:5030:5030
PublishPort=127.0.0.1:5031:5031
PublishPort=50300:50300
Environment=SLSKD_REMOTE_CONFIGURATION=true
Volume=/var/home/evan/.local/share/media-stack/slskd:/app:Z
Volume=/mnt/Media/Music:/music:z
Volume=/mnt/Media/Downloads:/downloads:z

[Service]
Restart=on-failure
RestartSec=30
Nice=10
CPUWeight=20
IOWeight=20
IOSchedulingClass=idle

[Install]
WantedBy=default.target
