[Unit]
Description=Sonarr TV manager
Wants=network-online.target
After=network-online.target

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:latest
Pull=newer
Network=media-stack.network
UserNS=keep-id
PodmanArgs=--cpu-shares=256
PublishPort=127.0.0.1:8989:8989
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=UMASK=002
Volume=/var/home/evan/.local/share/media-stack/sonarr:/config:Z
Volume=/mnt/Media/TV:/tv:z
Volume=/mnt/Media/Downloads:/downloads:z

[Service]
Restart=on-failure
RestartSec=30
Nice=10
CPUWeight=25
IOWeight=25
IOSchedulingClass=idle

[Install]
WantedBy=default.target
